@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Permanent+Marker&display=swap');

* {
    box-sizing: border-box;
	margin: 0;
	padding: 10px;
    text-align: center;
}
header{
    margin:auto;
    max-width: 800px;
    background-color: #413f75;
}
main{
    font-family: 'Playfair Display', serif;;
    color: #000000;
    max-width: 800px;
    margin: auto;
}
#sites{
    margin: auto;
    max-width: 800px;
    list-style-type: none;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: larger;
    text-decoration: none;
    display: block;
    background-color: black;
}
/*#cards{
    background-color: #fafafa;
    max-width: 800px;
    box-sizing: border-box;
}*/
h2{
    text-align: left;
    max-width: 800px;
    background-color: #413f75;
    padding: 10px;
    background-color: #413f75;
}
/* Mobile */
.site-lay1{
    padding: 10px;
    max-width: 800px;
    box-sizing: border-box;
    font-size: 1.5rem;
    border-radius: 1%;
    background-color: aliceblue;
}
h4, nav{
    text-align: left;
    
}
.app{
    width: 300px;
    margin:0 auto;
    text-align: center;
}
.site2{
    padding: 10px;
    max-width: 800px;
    box-sizing: border-box;
    font-size: 1.5rem;
    border-radius: 1%;
    background-color: aliceblue;
}
.site3{
    padding: 10px;
    max-width: 800px;
    box-sizing: border-box;
    font-size: 1.5rem;
    border-radius: 1%;
    background-color: aliceblue;
}
footer{
    background-color: #413f75;
    color: white;
    text-align: center;
    max-width: 800px;
}
  