@media screen and (min-width: 1024px) {
    header{
        margin:auto;
        width: 7900px;
        background-color: #413f75;
    }   
    .sites{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid: 10px;
        margin: auto;
        text-align: center;
        
    }
    #cards{
        background-color: #fafafa;
        width: 250px;
        box-sizing: border-box;
    }
    #card3{
        background-color: #fafafa;
        width: 250px;
        box-sizing: border-box;
    }
    #cards2{
        background-color: #fafafa;
        width: 250px;
        box-sizing: border-box;
    }
    .app{
        max-width: 200px;
        margin:0 auto;
        text-align: center;
    }
    
}