@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Permanent+Marker&display=swap');

* {
    box-sizing: border-box;
	margin: 0;
	padding: 10px;
    text-align: center;
}
body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    background: linear-gradient(0deg,#aea4e3 0%, 
    #d3ffe8 50%,#b172d3 100%);
}
#mode {
	position: absolute;
	top: 4rem;
	right: 1rem;
	font-size: 3rem;
	cursor: pointer;
	font-size: 2rem;
}
header {
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 800px;
    background-color: #b68d55;
    
}
header img{
    max-width: 150px;
    height: auto;

}
header h1{
    font-family: 'Merriweather', sans-serif;  
    margin-right: auto;
    font-size: 1rem;
    
    color: white;
}
.herolabel {
    position: absolute;
    top: 30px;
    left: 30px;
    background: radial-gradient(#fff, #4D5B97);
    border: 1px solid rgba(0,0,0,.75);
    padding: 1.5rem;
    box-shadow: 0 0 3rem #fff;
    opacity: 0.75;

}
.hero img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.herolabel a {
    margin: 0;
    padding: .25rem;
    font-weight: 700;
    font-size: 1.5rem;
    font-family:"Great Vibes", serif;
}
ul{
    display: flex;
    list-style: none;
    text-align: right;
    margin: auto;

}
nav li a{
    color: whitesmoke;
    text-align: center;
    margin: auto;
}
#menu{
    display: none;
}
  .navigation li a:hover {
    background-color: #bbb;
    font-weight: 700;
  }

.hero{
    position: relative;
}
#hero-img{
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    margin-top: -50px;
    
}
.join {
    position: absolute;
    top: 50px;
    left: 400px;
    padding: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: black;
    background-color:whitesmoke;
    font-size: 1.5rem;
    border-radius: 10px;
    text-decoration: none;
}
.hero-mag{   
    padding: 10px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: #21374f;
    background-color: #e2d5c3;
    max-width: 800px;
    margin: auto;
    font-size: 1.5rem;
    
}
#current-events{
    background-color: whitesmoke;
    max-width: 800px;
    text-align: center;
    margin: auto;
    margin-top: -10px;
    border-radius: 5px;
}
#event-icon{
    position: absolute;
    left:270px;
    max-width: 200px;
    height: auto;
}
#current-events h2, h4, p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #21374f;
}
#weather-card {
    grid-column: 4/5;
    grid-row: 1/3;
  }
  #weather-icon{
    height: 50px;
    width: 50px;
}


#wather-card{
    background-color: whitesmoke;
    max-width: 800px;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;  
}
#wather-card  h4{
    max-width: 800px;
    font-family: 'Merriweather', serif;
    color:#d71fdd; 
}

#weather-forecast{
    background-color: rgb(175, 139, 139);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.spot{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1000px;
    margin: auto;
    grid-gap: 10px;
}
#spotlight1{
    max-width: 600px;
    border: #21374f;
    box-sizing: border-box;
    background-color: #ca9696;
    border-radius: 50px;
    padding: 10px;
}
#spotliht2{
    max-width: 400px;
    border: #21374f;
    box-sizing: border-box;
    background-color: #ca9696;
    border-radius: 50px;
    padding: 30px;
    margin-top: 10px;

}

#spotlight3{
    max-width: 400px;
    margin: auto;
    border: #21374f;
    box-sizing: border-box;
    background-color: #ca9696;
    border-radius: 50px;
    padding: 30px;
    margin-top: 10px;
}
footer{
    max-width: 1000px;
    background-color: #b68d55;
    margin: auto;
    border-radius: 20px;
    padding: 0px;
}
#contact{
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#contact img{
    max-width: 200px;

}
#contact h2 {
    font-size: 1.2rem;
}

@media only screen and (max-width: 600px){
    header h1{
        font-family: 'Merriweather', serif;  
        margin-right: auto;
        font-size: 1.5rem;        
        color: rgb(34, 46, 202);
    }
    #menu {
        display: block;
        font-size: 1.5rem;
        background: none;
        border: none;
        color: blue;
        cursor: pointer;
        position: absolute;
        top: 1rem;
        right: 1rem;

      }
    #menu::before {
        content: "☰";
      }
      
      #menu.open::before {
        content: "🔙";
      }
    .navigation {
        display: none; 
        flex-direction: row;
        position: absolute;
        top: 70px;
        right: 0;
        width: 50%;
        background-color: rgb(172, 130, 211) ;
        padding: 10px;
        color: #e76f51;
      }
    .nav li {
        margin-right: 0;
        margin-bottom: 10px;
        
      }
    .navigation li a {
        display: block;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        color: #fff;

      }
    .navigation li a:hover {
        background-color: #eb9898;
        color: #271f1f;
        font-weight: 700;
      }
      .open li {
        display: block;
        width: 100%;
      }
      .open li a {
        display: block;
      }
      
      .active::before {
        content: "📍 ";
    }
    #hero-img{
        text-align: center;
        width:50px;
        height: auto;
        display: block;
        margin: auto;
        margin-top: -50px;
        
    }
    .join {
        position: absolute;
        top: 50px;
        left: 100px;
        padding: 20px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        color: black;
        background-color:#bbb;
        font-size: 1.5rem;
        border-radius: 10px;
        text-decoration: none;
    } 
    #current-events{
        background-color: whitesmoke;

    }
    #event-icon{
        max-width: 300px;
        height: auto;
        left: 120px;
    }  
    #current-events h2, h4, p{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #21374f;
        
    }  
    #current-events h2{
        margin-top: 200px;
    }
    #contact{
        border-radius: 20px;
        display: grid;
        grid-template-columns: 1fr;
    }
    #contact img{
        max-width: 200px;
        text-align: center;
        margin: auto;
    }
    .spot{
        display: block;
        max-width: 600px;
    }

    #spotlight1{
        max-width: 800px;
        margin: auto;
        border: #21374f;
        box-sizing: border-box;
        background-color: #ca9696;
        border-radius: 50px;
        padding: 10px;
    }
    #spotliht2{
        max-width: 800px;
        margin: auto;
        border: #21374f;
        box-sizing: border-box;
        background-color: #ca9696;
        border-radius: 50px;
        padding: 30px;
        margin-top: 10px;
    
    }
    
    #spotlight3{
        max-width: 800px;
        margin: auto;
        border: #21374f;
        box-sizing: border-box;
        background-color: #ca9696;
        border-radius: 50px;
        padding: 30px;
        margin-top: 10px;
    }
    
    
}

