@media only screen and (min-width: 1023px){ 


  .navigation li:first-child {
    display: none;
  }

  .heading{
    text-align: center;
    margin: auto;
    padding: 10px;
    margin-top: -100px;
    margin-bottom: 50px;
   }
   .logo{
    margin-top: 10px;
    margin-left: 10px;
  }


   .type-rentals {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    text-align: center;
    margin: auto;
    }
    .type-rentals div{ 
        width: 300px;
        height: 400px;
        text-align: center;
        margin: auto;
        padding: 10px;
    }

    .weather{
        display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    }
    .weather div{ 
        width: 500px;
      }

      .contact{ 
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        margin: auto;
        margin-left: 10px;
      }

      .contact ul{
        width:400px ;
        margin-top: 100px;
       }

       footer ul {
        display: flex;
        list-style: none;
        line-height: 1.7;
        padding-left: 0;
        text-align: center;
        margin: auto;
        margin-left: 150px;
      }


       /******************* rentals *******************/

       .rentals #rentalCards {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr;
        grid-row-gap: 1.5rem; 
      }

      /******************* reservation *******************/
  .reservation {
    width: 45%;
    text-align: left;
    margin: auto;
  }
  
  /******************* reservation *******************/
  .confirmation {
    width: 50%;
    margin: 5rem auto;
  }

  .contact-us {
    width: 60%;
    font-size: 1.3rem;
  }
  iframe{
    margin-bottom: 2rem;
  }
  .social-list {
    
  }
  i:hover {
    transform: translate(0, -2px);
    text-shadow: 0px 2px 3px #555;
  }
}